<div class="form-horizontal">
    <div class="page-header">
        Payment Maintenance Detail
    </div>
    <div class="row">
        <form>
            <div class="container col-sm-6">
                <div class="col-sm-6 align-center">
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">Reference no</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" [(ngModel)]="paymentMaintenanceDetail.reference"
                                name="referenceNo" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">Amount</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" [(ngModel)]="paymentMaintenanceDetail.paymentAmount"
                                name="paymentAmount" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-3 control-label">Comment</label>
                        <div class="col-sm-9">
                            <textarea rows="4" style="height:120px" class="form-control"
                                [(ngModel)]="paymentMaintenanceDetail.comment" name="comment"></textarea>
                        </div>
                    </div>

                </div>

            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-sm-12">     
            <div class="button-container text-right">
                <button type="button" class="ro-button btn-default" (click)="onSave()">Accept</button>
                <button type="button" class="ro-button btn-success" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </div>

</div>