<biz-val [successFlag]="successFlag" [successMessage]="successMessage" [errorMessages]='errorMessages'></biz-val>
<div class="ro-tab tabs-top">
    <ul class="nav-tabs">
        <li>
            <input type="radio" name="tabsHeader" id="tab1Main" class="tab-check" checked />
            <label for="tab1Main">Massive Payment<span class="tab-counter">{{countItems}}</span></label>
            <div class="tab-content">
                <div class="tab-pane">
                    <div [hidden]="!visible">
                        <form class="form-horizontal">
                            <div class="filter-bar">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="name" class="control-label col-sm-4">Period</label>
                                                    <div class="col-sm-8">
                                                        <ngbd-typeahead-period (modelOutput)="getPeriod($event)"
                                                            [currentPeriod]="_currentPeriod"></ngbd-typeahead-period>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="status" class="control-label col-sm-4">Rent
                                                        Status</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control"
                                                            [(ngModel)]="searchCriteria.paymentPeriodStatusId"
                                                            name="searchCriteria.paymentPeriodStatusId">
                                                            <option value=""></option>
                                                            <option *ngFor="let status of _listEntityStatus"
                                                                [attr.value]='status.entityStatusId'>
                                                                {{status.name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="name" class="control-label col-sm-4">Pending
                                                        Fines</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control"
                                                            [(ngModel)]="searchCriteria.hasPendingFines"
                                                            name="hasPendingFines">
                                                            <option *ngFor="let item of _listYesNoBool"
                                                                [ngValue]='item.code'>
                                                                {{item.name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="name" class="control-label col-sm-4">Property</label>
                                                    <div class="col-sm-8">
                                                        <ngbd-typeahead-house (modelOutput)="getHouse($event)"
                                                            [currentHouse]="_currentHouse"></ngbd-typeahead-house>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="name" class="control-label col-sm-4">Lease No</label>
                                                    <div class="col-sm-8">
                                                        <input st-autofocus type="text" class="form-control"
                                                            [(ngModel)]="searchCriteria.contractCode"
                                                            name="contractCode" autofocus maxlength="20" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="name" class="control-label col-sm-4">Tenant</label>
                                                    <div class="col-sm-8">
                                                        <ngbd-typeahead-tenant (modelOutput)="getTenant($event)"
                                                            [currentTenant]="_currentTenant"></ngbd-typeahead-tenant>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="name" class="control-label col-sm-4">Pending
                                                        Deposit</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control"
                                                            [(ngModel)]="searchCriteria.hasPendingDeposit"
                                                            name="hasPendingDeposit">
                                                            <option *ngFor="let item of _listYesNoBool"
                                                                [ngValue]='item.code'>
                                                                {{item.name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="name" class="control-label col-sm-4">Pending Late
                                                        Fee</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control"
                                                            [(ngModel)]="searchCriteria.hasPendingLateFee"
                                                            name="hasPendingLateFee">
                                                            <option *ngFor="let item of _listYesNoBool"
                                                                [ngValue]='item.code'>
                                                                {{item.name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                    <div class="col-sm-2 text-right">
                                        <div class="button-container">
                                            <button type="submit" id="btnSearch" (click)="onSearch()"
                                                class="ro-button btn-default" st-authCheck>Search</button>
                                            <!--[actionCode]="'House.Search'"-->
                                        </div>
                                        <div class="button-container">
                                            <button type="button" data-am-button="secondary"
                                                class="ro-button btn-default" (click)="onReset()">Clear</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>


                        <div class="row pb-3">
                            <div class="col-sm-8 pt-3">
                                <div class="col-sm-6 text-left">
                                    <button type="submit" id="btnSendPayNotification"
                                        (click)="confirmSendPayNotification()" class="ro-button btn-success">
                                        <i class="xico-file-download"></i>
                                        Send Email Notification
                                    </button>
                                    <button type="button" id="btnExport" (click)="exportToExcel()"
                                        class="ro-button btn-default">
                                        <i class="xico-file-download"></i>
                                        Export to Excel
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-4 text-right">
                                <span class="col-sm-3 badge badge-danger">
                                    <h6>Pendiente<br>{{ TotalIncomePendingAmount| number:'2.2-2'}}</h6>
                                </span>
                                <span class="col-sm-3 badge badge-success">
                                    <h6>Pagado<br> {{ TotalIncomePaidAmount | number:'2.2-2'}}</h6>
                                </span>
                                <span class="col-sm-3 badge badge-warning">
                                    <h6>Total<br>{{ TotalIncomeAmountByPeriod| number:'2.2-2'}}</h6>
                                </span>
                            </div>
                        </div>
                        <div class="grid-container">
                            <kendo-grid [data]="gridData" [pageSize]="searchCriteria.pageSize" [skip]="currentPage"
                                [pageable]="{
                                buttonCount: buttonCount,
                                info: info,
                                type: type,
                                pageSizes: pageSizes,
                                previousNext: previousNext
                            }" [height]="580" (pageChange)="pageChange($event)" [selectable]="false">

                                <kendo-grid-column [width]="30">
                                    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                                        <div class="text-center">
                                            <input type="checkbox" id="HeaderTemplate" style="zoom:1.3" value="option"
                                                (change)="changeItemHeader()" />
                                        </div>
                                    </ng-template>
                                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                        <div class="text-center">
                                            <input class="ro-checkbox" type="checkbox" id="{{rowIndex}}" value="option"
                                                [checked]="dataItem.isSelected" (change)="changeItem(dataItem)" />
                                            <label htmlFor="{{rowIndex}}"></label>

                                        </div>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="periodCode" title="Period" width="40"></kendo-grid-column>

                                <kendo-grid-column field="dueDate" title="Due Date" width="40">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <div>
                                            <span>{{dataItem.dueDate|date:"MM/dd/yyyy" }}</span><br />
                                        </div>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="contractCode" title="Contract" width="50">
                                </kendo-grid-column>
                                <kendo-grid-column field="tenantFullName" title="Tenant" width="120">
                                </kendo-grid-column>
                                <kendo-grid-column field="houseName" title="House" width="120"></kendo-grid-column>
                                <kendo-grid-column title="Rent Status" width="50">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <div *ngIf="dataItem.paymentPeriodStatusCode==='PPPAYED'">
                                            <label
                                                class="label-status approved">{{dataItem.paymentPeriodStatusName}}</label>
                                        </div>
                                        <div *ngIf="dataItem.paymentPeriodStatusCode==='PPPENDING'">
                                            <label
                                                class="label-status rejected">{{dataItem.paymentPeriodStatusName}}</label>
                                        </div>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column-group title="P E N D I E N T E S" [width]="600" [locked]="false">

                                    <kendo-grid-column field="rentAmountPending"  title="Rent" width="35">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <div class="text-right pendingLabel">
                                                <span>{{dataItem.rentAmountPending|number:'2.2-2' }}</span><br />
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="depositAmountPending" title="Deposit" width="35">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <div class="text-right pendingLabel">
                                                <span>{{dataItem.depositAmountPending|number:'2.2-2' }}</span><br />
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="finesAmountPending" title="Fines" width="35">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <div class="text-right pendingLabel">
                                                <span>{{dataItem.finesAmountPending|number:'2.2-2' }}</span><br />
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="lateFeesAmountPending" title="Late Fee" width="35">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <div class="text-right pendingLabel">
                                                <span>{{dataItem.lateFeesAmountPending|number:'2.2-2' }}</span><br />
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="onAccountAmountPending" title="On Account" width="35">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <div class="text-right pendingLabel">
                                                <span>{{dataItem.onAccountAmountPending|number:'2.2-2' }}</span><br />
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="totalAmountPending" title="TOTAL" width="35">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <div class="text-right pendingTotalLabel">
                                                <span>{{dataItem.totalAmountPending|number:'2.2-2' }}</span><br />
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                </kendo-grid-column-group>
                                <kendo-grid-column-group title="P A G A D O S" [width]="600" [locked]="false">

                                    <kendo-grid-column field="rentAmountPaid" title="Rent" width="35">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <div class="text-right paidLabel">
                                                <span>{{dataItem.rentAmountPaid|number:'2.2-2' }}</span><br />
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="depositAmountPaid" title="Deposit" width="35">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <div class="text-right paidLabel">
                                                <span>{{dataItem.depositAmountPaid|number:'2.2-2' }}</span><br />
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="finesAmountPaid" title="Fines" width="35">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <div class="text-right paidLabel">
                                                <span>{{dataItem.finesAmountPaid|number:'2.2-2' }}</span><br />
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="lateFeesAmountPaid" title="Late Fee" width="35">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <div class="text-right paidLabel">
                                                <span>{{dataItem.lateFeesAmountPaid|number:'2.2-2' }}</span><br />
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="onAccountAmountPaid" title="On Account" width="35">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <div class="text-right paidLabel">
                                                <span>{{dataItem.onAccountAmountPaid|number:'2.2-2' }}</span><br />
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="totalAmountPaid" title="TOTAL" width="35">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <div class="text-right paidTotalLabel">
                                                <span>{{dataItem.totalAmountPaid|number:'2.2-2' }}</span><br />
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                </kendo-grid-column-group>
                                <kendo-grid-column width="20">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <div class="text-right">
                                            <button type="button" class="btn-icon" (click)="onEdit(dataItem)">
                                                <i class="xico-action-edit"></i>
                                            </button>
                                            <button type="button" class="btn-icon" (click)="onLiquidate(dataItem)">
                                                <i class="fa fa-balance-scale"></i>
                                            </button>
                                            
                                        </div>
                                    </ng-template>
                                </kendo-grid-column>
                            </kendo-grid>
                        </div>
                    </div>


                </div>
            </div>
        </li>
    </ul>
</div>
<div>
    <div>
        <at-payment-maintenance></at-payment-maintenance>
    </div>
</div>
<kendo-dialog title="Confirmation" *ngIf="openedConfimationPopup" (close)="closeConfirmation()">
    <div>{{confirmMessage}}</div>
    <kendo-dialog-actions>
        <button type="button" class="k-button" (click)="closeConfirmation()">No</button>
        <button type="button" class="k-button k-primary" (click)="yesConfirm()">Yes</button>
    </kendo-dialog-actions>
</kendo-dialog>