<div class="row" *ngIf="parentId !== null || parentIdList !== null ">

  <form #imageForm=ngForm class="col-sm-12" > 
    <!-- (ngSubmit)="onSubmit(Additional, Image)"> -->
    <div class="col-sm-12 text-right">
      <div class="row" *ngIf="canAddFiles && seeButton">
        <button type="buton" class="btn btn-success m-3" (click)="onShowAddFileSection()">
          <i class="fa fa-arrow-circle-o-down"></i>
          Show Add File Section</button>
      </div>

      <ngx-loading [show]="isSaving"></ngx-loading>
      <div *ngIf="canAddFiles && showAddFileSection">
        <div class="row">
          <div class="form-group col-sm-12">
            <button type="button" class="btn btn-success" (click)="onShowAddFileSection()">
              <i class="fa fa-arrow-circle-o-up"></i>
            </button>
            <h5>Gestion de Adjuntos</h5>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-12">
            <input type="file" #Image (change)="handleFileInput($event.target.files)" class="col-sm-12"
              style="padding: 0px">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12">

            <input type="text" #Additional ngModel name="AdditionalInformation" class="col-sm-8"
              Id="AditionalInformation" required placeholder="Ingresa Informacion Adicional...">&nbsp;

            <button type="button" class="btn btn-success btn-sm col-sm-3"
              [disabled]="Image.value=='' || !imageForm.valid" (click)="onSubmit(Additional, Image)">
              <i class="fa fa-upload" ></i>
              Add File</button>

          </div>
        </div>

      </div>
    </div>
  </form>

  <div class="grid-container">
    <kendo-grid id="kgrid-FileRepository" [data]="fileRepositoryData" [selectable]="false">
      <kendo-grid-column field="creationDate" title="Fecha Creación" [width]=70>
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>
            <span class="float-right">{{dataItem.creationDate|date:"MM/dd/yyyy" }}</span>
            <br />
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="name" title="Nombre Archivo" [width]=150>
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>
            <span>
              <a [target]="'_blank'" id="{{ dataItem.fileRepositoryId }}" style="color: blue"
                class="btn btn-link font-weight-bold c-font-size-link clickable p-0"
                (click)="onDownload(dataItem.fileRepositoryId)">{{ dataItem.name }}</a>
            </span>
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="additionalInfo" title="Additional Info." [width]=150></kendo-grid-column>
      <kendo-grid-column [width]=70>
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="text-right">
            <button type="button" class="btn-icon" (click)="onDelete(dataItem);">
              <i class="xico-action-remove"></i>
            </button>
          </div>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
  <div class="row">&nbsp;</div>
</div>