<div class="form-horizontal">
    <div class=".container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <div class="col-sm-12" style="padding-left:10px;padding-top:10px;color:aqua">
                    <input type="button" class="ro-button btn-submit" (click)="acceptDetail()" value="Aceptar" />
                    <input type="button" class="ro-button btn-default" (click)="onCancelDetail()" value="Cancel" />
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <biz-val [successFlag]="successFlag" [successMessage]="successMessage" [errorMessages]='errorMessages'></biz-val>
        <div class="row">
            <form [formGroup]="expenseDetailForm">
                <div class="row col-sm-8">
                    <div class="form-group col-sm-12">

                        <div class="form-group col-sm-6">
                            <label for="from" class="col-sm-5 control-label">Concept</label>
                            <label class="col-sm-7">
                                <select name="ConceptId" formControlName="conceptId" class="form-control input-control">
                                    <option value=""></option>
                                    <option *ngFor="let concept of _listConcepts" [ngValue]="concept.conceptId">
                                        {{concept.description}}
                                    </option>
                                </select>
                                <span class="help-block text-danger" *ngIf="displayMessage['conceptId']">
                                    {{ displayMessage['conceptId'] }}
                                </span>
                            </label>
                        </div>
                        

                        <div class="form-group col-sm-6" *ngIf="flgEdition==='N'">
                            <label for="from" class="col-sm-3 control-label">Apply to...</label>
                            <label class="col-sm-9">
                                <select name="applyTo" class="form-control input-control" formControlName="applyTo" (change)="onApplyValidator()">
                                    <option *ngFor="let apply of _listApplyTo" [ngValue]="apply.applyToId">
                                        {{apply.name}}
                                    </option>
                                </select>
                                <span class="help-block text-danger" *ngIf="displayMessage['applyTo']">
                                    {{ displayMessage['applyTo'] }}
                                </span>
                            </label>
                            
                        </div>
                        
                    </div>

                    <div class="form-group col-sm-12">
                        <div class="form-group col-sm-6">
                            <label for="from" class="col-sm-5 control-label">Sub Total Amount</label>
                            <label class="col-sm-7">
                                <input type="number" class="form-control text-right" formControlName="subTotalAmount" (blur)="calculateTotalAmount()" />
                                <span class="help-block text-danger" *ngIf="displayMessage['subTotalAmount']">
                                    {{ displayMessage['subTotalAmount'] }}
                                </span>
                            </label>
                        </div>

                        <div class="form-group col-sm-6" *ngIf="flgEdition==='E' || showTenant===true ">
                        <!-- <div class="form-group col-sm-6" *ngIf="!this.isForAllTenant || flgEdition==='E'"> -->
                            <label for="from" class="col-sm-3 control-label">Tenant</label>
                            <label class="col-sm-9">
                                <ngbd-typeahead-tenant (modelOutput)="getTenant($event)" [currentTenant]="_currentTenant" [validateInActiveContract]=true></ngbd-typeahead-tenant>
                                <span class="help-block text-danger" *ngIf="displayMessage['tenantId']">
                                    {{ displayMessage['tenantId'] }}
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <div class="form-group col-sm-6">
                            <label for="from" class="col-sm-5 control-label">Tax</label>
                            <label class="col-sm-7">
                                <input type="number" class="form-control text-right" formControlName="tax" (blur)="calculateTotalAmount()" />
                                <span class="help-block text-danger" *ngIf="displayMessage['tax']">
                                    {{ displayMessage['tax'] }}
                                </span>
                            </label>
                            
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <div class="form-group col-sm-6">
                            <label for="from" class="col-sm-5 control-label">Total Amount</label>
                            <label class="col-sm-7">
                                <input type="number" class="form-control text-right" formControlName="totalAmount" />
                                <span class="help-block text-danger" *ngIf="displayMessage['totalAmount']">
                                    {{ displayMessage['totalAmount'] }}
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <div class="form-group col-sm-6">
                            <label for="from" class="col-sm-5 control-label">Remark</label>
                            <label class="col-sm-7">
                                <textarea type="txtRemark" rows="4" style="height:150px" name="Remark" class="form-control" formControlName="remark">
                                </textarea>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>