<div class="form-horizontal">
    <div class="page-header">
        Expense
    </div>
    <div class=".container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <div class="col-sm-12" style="padding-left:10px;padding-top:10px;color:aqua">
                    <!-- <st-boton-maintenance (onEventSave)="onExecuteEvent($event)" [formValid]="expenseForm.form.valid" [formName]="'expenseForm'"></st-boton-maintenance> -->
                    <input type="button" (click)="accept()" value="Aceptar" />
                    <input type="button" (click)="onCancel()" value="Cancelar" />
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <biz-val [successFlag]="successFlag" [successMessage]="successMessage" [errorMessages]='errorMessages'></biz-val>
        <div class="row">
            <form [formGroup]="expenseForm">
                <ngb-tabset>
                    <ngb-tab title="Expense Header">
                        <ng-template ngbTabContent>

                            <div class="row col-sm-8">
                                <div class="form-group col-sm-12"></div>

                                <div class="form-group col-sm-12">

                                    <!-- (ngModelChange)="onSelectModelExpenseDate()"  -->
                                    <label for="from" class="col-sm-3 control-label">Expense Date</label>
                                    <label class="ro-calendar col-sm-3">
                                        <input class="form-control" [placeholder]="localization.dateFormat" name="expenseDate" ngbDatepicker #d1="ngbDatepicker"
                                            [outside-click]="d1" 
                                            formControlName="expenseDate">

                                        <span class="ro-calendar-btn" (click)="d1.toggle()">
                                            <i class="xico-ui-calendar" style="width:30px"></i>
                                        </span>
                                    </label>
                                    <span class="help-block text-danger" *ngIf="displayMessage['expenseDate']">
                                        {{ displayMessage['expenseDate'] }}
                                    </span>

                                </div>
                                <div class="form-group col-sm-12">

                                    <label for="from" class="col-sm-3 control-label">Property
                                        <span class="required"></span>
                                    </label>
                                    <label class="col-sm-3">
                                        <select formControlName = 'houseId' class='form-control input-control'>
                                            <option value=''></option>
                                            <option *ngFor='let house of _listHouses' [ngValue]= 'house.houseId'>
                                                {{ house.name }}
                                            </option>
                                        </select>
                                        <span class="help-block text-danger" *ngIf="displayMessage['houseId']">
                                            {{ displayMessage['houseId'] }}
                                        </span>
                                    </label>

                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="from" class="col-sm-3 control-label">Period</label>
                                    <label class="col-sm-3">
                                        <select formControlName='periodId' class='form-control input-control'>
                                            <option value=""></option>
                                            <option *ngFor = 'let period of _listPeriods' [ngValue]='period.periodId' >
                                                {{ period.code }}
                                            </option>
                                        </select>
                                    </label>

                                    <label for="from" class="col-sm-3 control-label">Sub Total</label>
                                    <label class="col-sm-3">
                                        <input type="number" name="subTotalAmount" class="form-control" formControlName="subTotalAmount"
                                        />
                                    </label>

                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="from" class="col-sm-3 control-label">Payment Type</label>
                                    <label class="col-sm-3">
                                        <select name="ConceptId" formControlName="paymentTypeId" class="form-control input-control">
                                            <option value=""></option>
                                            <option *ngFor="let paymentType of _listPaymentTypes" [ngValue]="paymentType.typeId">
                                                {{paymentType.name}}
                                            </option>
                                        </select>
                                    </label>

                                    <label for="from" class="col-sm-3 control-label">Tax</label>
                                    <label class="col-sm-3">
                                        <input type="number" name="tax" class="form-control" formControlName="tax" />
                                    </label>

                                </div>

                                <div class="form-group col-sm-12">

                                    <label for="from" class="col-sm-3 control-label">Reference No</label>
                                    <label class="col-sm-3">
                                        <input type="text" name="referenceNo" class="form-control"  formControlName="referenceNo" />
                                    </label>

                                    <label for="from" class="col-sm-3 control-label">Total Amount</label>
                                    <label class="col-sm-3">
                                        <input type="number" name="totalAmount" class="form-control"  formControlName="totalAmount" />
                                    </label>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="from" class="col-sm-3 control-label">Remark</label>
                                    <label class="col-sm-9">
                                        <textarea type="txtRemark" rows="4" style="height:150px" name="Remark" class="form-control" formControlName="remark">
                                                </textarea>
                                    </label>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>

            </form>
        </div>
        <div class="row" >
            <at-expense-detail-grid></at-expense-detail-grid>
        </div>
    </div>
</div>