<div class="row">
    <input type="button" class="button" value="Add Expense Detail" (click)="onAddDetail()" />
</div>
<div class="grid-container">
    <kendo-grid id="kgrid-ExpenseDetail" [data]="expenseDetailData" [selectable]="false">
        <kendo-grid-column [width]="50">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                <!-- (change)="changeItemHeader()" -->
                <div class="text-center">
                    <input type="checkbox" id="HeaderTemplate" style="zoom:1.3" value="option" />
                </div>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="text-center">
                    <input class="ro-checkbox" type="checkbox" id="{{rowIndex}}" value="option" [checked]="dataItem.isSelected" (change)="changeItem(dataItem)"
                    />
                    <label htmlFor="{{rowIndex}}"></label>

                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="conceptName" title="Concept"></kendo-grid-column>
        <kendo-grid-column field="remark" title="Remark"></kendo-grid-column>
        <kendo-grid-column field="tenantFullName" title="Tenant"></kendo-grid-column>
        <kendo-grid-column field="expenseDetailStatusName" title="Status"></kendo-grid-column>
        <kendo-grid-column field="subTotalAmount" title="Sub Total">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div>
                    <span>{{dataItem.subTotalAmount|number:"1.2-2" }}</span>
                    <br />
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="tax" title="Tax">
                <ng-template kendoGridCellTemplate let-dataItem>
                        <div>
                            <span>{{dataItem.tax|number:"1.2-2" }}</span>
                            <br />
                        </div>
                    </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="totalAmount" title="Total">
                <ng-template kendoGridCellTemplate let-dataItem>
                        <div>
                            <span>{{dataItem.totalAmount|number:"1.2-2" }}</span>
                            <br />
                        </div>
                    </ng-template>
        </kendo-grid-column>

        <kendo-grid-column>
            <ng-template kendoGridCellTemplate let-dataItem>
                <div class="text-right">
                    <button type="button" class="btn-icon" (click)="onEdit(dataItem)">
                        <i class="xico-action-edit"></i>
                    </button>
                    <button type="button" class="btn-icon" (click)="onDelete(dataItem);">
                        <i class="xico-action-remove"></i>
                    </button>
                </div>
            </ng-template>
        </kendo-grid-column>

    </kendo-grid>
</div>

<kendo-dialog *ngIf="openDialog" title="Expense Detail" (close)="closePopup()" style="z-index:10003;" id="tenantMaintenancePanel">
    <at-expense-maintenance-detail [inputSelectedExpenseDetail]="selectedDetail" (eventoClose)="eventoCloseParent($event)">
    </at-expense-maintenance-detail>
</kendo-dialog>

<kendo-dialog *ngIf="openChangeStatusConfirmation" title="Expense Detail" (close)="closePopupConfirmation()" style="z-index:10003;" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Do you accept to change Status?</p>
        <kendo-dialog-actions>
            <button kendoButton (click)="close('no')">No</button>
            <button kendoButton (click)="close('yes')" primary="true">Yes</button>
        </kendo-dialog-actions>
</kendo-dialog>