<div>
    
    <form [formGroup]="contractChangeTermForm">
        <div class="form-group row" >
            <label for="contractTermType" class="col-sm-4 col-form-label">Tipo</label>
            <div class="col-sm-8" >
                <select formControlName="contractTermType" class='form-control input-control' (change)="onChangeTermTypeClick()">
                    <option value="EXTENSION">Extension</option>
                    <option value="MODIFICATION">Modificacion</option>
                  </select>
            </div>
        </div>            

        <div class="form-group row" *ngIf="contractChangeTermForm.get('contractTermType').value==='EXTENSION'">
            <label for="periodIdTo" class="col-sm-4 col-form-label">Hasta Periodo</label>
            <div class="col-sm-8">
                <ngbd-typeahead-period (modelOutput)="getFinalPeriod($event)" >
                </ngbd-typeahead-period>
                <span class="help-block text-danger" *ngIf="displayMessage['finalPeriodId']">
                    {{ displayMessage['finalPeriodId'] }}
                </span>
            </div>
           
        </div>
        <div class="form-group row" *ngIf="contractChangeTermForm.get('contractTermType').value!=='EXTENSION'">
                <label for="periodIdTo" class="col-sm-4 col-form-label">Desde Periodo</label>
                <div class="col-sm-8">
                    <ngbd-typeahead-period (modelOutput)="getFromPeriod($event)" >
                    </ngbd-typeahead-period>
                    <span class="help-block text-danger" *ngIf="displayMessage['fromPeriodId']">
                        {{ displayMessage['fromPeriodId'] }}
                    </span>
                </div>
                
            </div>
            
        <div class="form-group row">
            <label for="propertyId" class='col-sm-4 col-form-label'>Nuevo Tenant</label>
            <div class="col-sm-8">
                <ngbd-typeahead-tenant (modelOutput)="getTenant($event)" ></ngbd-typeahead-tenant>
            </div>
        </div>
        <div class="form-group row">
            <label for="propertyId" class='col-sm-4 col-form-label'>Nueva Propiedad</label>
            <div class="col-sm-8">
                <ngbd-typeahead-house (modelOutput)="getHouse($event)" >
                </ngbd-typeahead-house>
            </div>
        </div>
        <div class="form-group row" *ngIf="contractChangeTermForm.get('contractTermType').value==='EXTENSION'">
            <label for="newDeposit" class="col-sm-4 col-form-label">Nuevo Deposito</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" formControlName='newDeposit'>
            </div>
        </div>
        <div class="form-group row">
            <label for="newRent" class="col-sm-4 col-form-label">Nueva Renta</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" formControlName="newRent">
            </div>
        </div>
        <div class="row">
            <input type="button" id="btnCancel" (click)="onCancel()" class="btn-default btn" value="Cancel">
            <input type="button" id="btnAccept" (click)="onAccept()" class="btn-primary btn" value="Accept">
        </div>

    </form>
</div>

<kendo-dialog title="Confirmation" *ngIf="showPopuChangeTermConfirm" (close)="noChangeTerm()">
    <div>{{changeTermMessage}}</div>
    <kendo-dialog-actions>
        <button type="button" class="k-button" (click)="noChangeTerm()">No</button>
        <button type="button" class="k-button k-primary" (click)="yesChangeTerm()">Yes</button>
    </kendo-dialog-actions>
</kendo-dialog>